@import '../../scss/_globals';


.header {
  @include displayFlex;
  height: 60px;
  color: color(text);
  background-color: color(header);
}
.header-mobile { @include displayFlex(space-evenly); }
.header-desktop { * {width: 20vw;} }
  .header-item-container { @include displayFlex; }
  .header-item {
    width: fit-content;
    margin: 0 1vw;
    cursor: pointer;
  }
  .header-icon {
    font-size: 25px;
    cursor: pointer;
    &:active {
      opacity: 0.5;
      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
  .header-icon-desktop { font-size: 35px; }


.company-name {
  font-family: Dancing Script;
  font-size: 30px;
  font-weight: bold;
}