$colors: (
  header: whitesmoke,
  text: #303030
);

@function color($color-name) {
  @return map-get($colors, $color-name)
};

@mixin displayFlex($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
};